<h1>Users' Tasks</h1>
<%= link_to "Todo List", todos_path %>
<% @users.each do |user| %>
  <h2><%= user.username %>'s Tasks</h2><br></br>
  <ul id="list_of_tasks">
    <% user.todos.each do |todo| %>
      <li id="user_todo_<%=todo.id%>">
        <%= best_in_place todo, :content %>
        <div class="checkbox"><%= best_in_place todo, :completed, :type => :checkbox, :collection => [raw("&#x2610;"), raw("&#x2611;")]%></div>
        <%= best_in_place todo, :user_id, :type => :select, :collection=> [[1, 'Hunter'], [2, 'Andy'], [3, 'Michael']]%>
        <div class="pos"><%= best_in_place todo, :position %></div>
        <button id="button">Notes</button>
        <div class="notes"><%= best_in_place todo, :notes %></div>
        <%= link_to 'Destroy', todo, :method => :delete %>
      </li> 
    <% end %>
  </ul>
<% end %>
