<h1>Todo List</h1>

<div id="task-creation-form">
  <%= form_for @todo, :url => { :action => "create" }, :remote => true do |f| %>
    
    <h2>New Item</h2>
    <p class="new todo">
      <%= f.text_field :content %>
      <%= f.select(:user_id, options_for_select([['Choose One', ''], ['Hunter', 0], ['Andy', 1], ['Michael', 2]], selected = @todo.user_id))%>
      <%= f.submit %>
    </p>
  <% end %>
</div>
<ul id="todos">
  <%= Todo.dropdown_order %>
  <% @todos.each do |todo| %>
    <li id="todo_<%=todo.id%>">
      <%= todo.id %>
      <%= check_box_tag(:completed, "completed")%>
      <%= todo.content %>
      <%= select_tag todo.user_id, options_for_select([['Choose One', ''], ['Hunter', 0], ['Andy', 1], ['Michael', 2]], selected= todo.user_id), :onchange => "this.form.submit();" %>
      <div id="edit_form">
        <%= form_for todo do |f| %>
          <%= f.text_field :content %>
        <% end %>
      </div>  
      <button>Edit Content</button>
      <%= link_to 'Destroy', todo, :method => :delete %>
      <%#= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%#= todo.user_id %>
    </li>
  <% end %>
</ul>
