<h1>Todo List</h1>

<div id="task-creation-form">
  <%= form_for @todo, :url => { :action => "create" }, :remote => true do |f| %>
    
    <h2>New Item</h2>
    <p class="new todo">
      <%= f.text_field :content %>
      <%= f.select(:user_id, options_for_select([['Choose One', ''], ['Hunter', 0], ['Andy', 1], ['Michael', 2]]))%>
      <%= f.submit %>
    </p>
  <% end %>
</div>
<ul id="tasks">
  <% @todos.each do |task| %>
    <li id="todos#{todos.id}">
      <%= check_box_tag(:completed, "completed")%>
      <%= @todo.content %>
      <%= @todo.user_id %>
    </li>
  <% end %>
</ul>
