<h1>Todo List</h1>

<div id="task-creation-form">
  <%= form_for @todo, :url => { :action => "create" }, :remote => true do |f| %>
    <h2>New Item</h2>
    <p class="new todo">
      <%= f.label "Content" %>
      <%= f.text_field :content %>
      <%= f.label "Notes" %>
      <%= f.text_field :notes %>
      <%= f.select(:user_id, options_for_select([['Choose One', ''], ['Hunter', 1], ['Andy', 2], ['Michael', 3]], selected = @todo.user_id))%>
      <%= f.submit %>
    </p>
  <% end %>
</div>
<ul id="todos">
  <% @todos.each do |todo| %>
    <li id="todo_<%=todo.id%>">
      <%= best_in_place todo, :content %>
      <%= best_in_place todo, :completed, :type => :checkbox, :collection => [raw("&#x2610;"), raw("&#x2611;")]%>
      <%= best_in_place todo, :user_id, :type => :select, :collection=> [[1, 'Hunter'], [2, 'Andy'], [3, 'Michael']]%>
      <%= best_in_place todo, :position %> 
      <button id="button">Notes</button>
      <div class="notes">
        <%= best_in_place todo, :notes %>
      </div>
      <%= link_to 'Destroy', todo, :method => :delete %>
    </li>
  <% end %>
</ul>
<%= link_to "User's Tasks", users_path %>
